MONGO_URI=mongodb+srv://prithwionline11:prithwi@hobbyverse-cluster.9fu1u.mongodb.net/hobbyverse1?retryWrites=true&w=majority
PORT=5000
JWT_SECRET="Secret-1234"
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=HobbyVerse@123